<%= form_for([@customer, @customer.receipts.build]) do |b| %>
  <% if @receipt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@receipt.errors.count, "error") %> prohibited this receipt from being saved:</h2>

      <ul>
      <br />
      <% @receipt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= b.label :customer%><b> : </b>
    <%= @customer.name %>
  </div>
  <div class="field">
    <%= b.label :address, %><b> : </b>
    <%= @customer.address %>
  </div>

  <div class = "actions">
    <%= b.submit %>
  </div>
<% end %>